@font-face {
    src: url(fonts/DOS-TWN16.ttf);
    font-family: DOS-16;
}

body {
    margin: 0;
    display: flex;
}

body #script {
    float: left;
}

#cursor {
  font-size: 12px;
  background-color: black;
  color: black;
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 0.7s linear infinite;
}

#editor_parent {
    position: absolute;
}

#writer {
  font-family: cursor, DOS-16;
  font-weight: bold;
  background: transparent;
}

div#search_bar_div {
    background: white;
    width: 10%;
    height: 20px;
    position: absolute;
    display: inline-block;
}

#writersearch {
    font-family: DOS-16;
    font-weight: bold;
    background: transparent;
  }


div#getter {
  margin: 16px;
  width: 47.5%;
  height: 30%;
  background: rgb(58, 64, 74);
  
}
#info_bar_container {
    height: 20px;
    width: 200px;
    position: absolute;
    display: inline-block;
    animation:blinkColors 1s linear infinite;
    overflow: hidden;
}

#info_bar {
    display: inline-block;
    font-family: DOS-16;
    white-space: nowrap;
    position: absolute;
    animation:slideIt 14s linear infinite, blinkTextColor 1s linear infinite;
}

@keyframes slideIt {
    0%{left:100%;}
    100%{left:-300%;}
}

@keyframes blinkColors {
    0% { background-color: blue; }
    49% {background-color: blue;}
    50% {background-color: white;}
    100% { background-color: white; }
}

@keyframes blinkTextColor {
    0% { color: white; }
    49% {color: white;}
    50% {color: blue;}
	100% {color: blue; }
}

@keyframes blinker {  
  49% {opacity: 1.0;}
  50% { opacity: 0.0; }
}