@font-face {
  src: url(fonts/DOS-TWN16.ttf);
  font-family: DOS-16;
}

body {
  margin: 0;
  display: flex;
}

body #script {
  float: left;
}

#cursor {
  font-size: 12px;
  background-color: white;
  color: white;
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1.1s linear infinite;
}

#editor_parent {
  position: absolute;
}

#writer {
  font-family: cursor, DOS-16;
  color: white;
  font-weight: bold;
  background: transparent;
}

div#search_bar_div {
  background: black;
  padding-left: 1em;
  border: 1px double white;
  width: 10%;
  height: 20px;
  position: absolute;
  display: inline-block;
}

#writersearch {
  font-family: DOS-16;
  font-weight: bold;
  background: transparent;
}
div#getter {
  margin: 16px;
  width: 47.5%;
  height: 30%;
  background:black;
}
#info_bar_container {
  height: 20px;
  border: 1px double white;
  width: 10%;
  background-color: blue;
  position: absolute;
  display: inline-block;
  overflow: hidden;
}

#info_bar {
  display: inline-block;
  color: white;
  font-family: DOS-16;
  white-space: nowrap;
  position: absolute;
  animation: slideIt 17s linear infinite;
}

@keyframes slideIt {
  0% {
    left: 100%;
  }
  100% {
    left: -300%;
  }
}

@keyframes blinker {
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
